.gradle/
**/build/
**/run/
**/.idea/
*.iml
/codes/
/ltsxassistant-1.21.1/src/main/resources/resourcepacks/minecraft_classic_album/
/ltsxassistant-1.21.1/src/main/resources/resourcepacks/direct_impact_album/
